<h1>AJAX Library</h1>
<!-- Container to append loaded books it to -->
<span>Show all books here</span>
<div id="container"></div>

<!-- put form to create a book here -->
<script type="text/javascript">
  Library.loadBooks();
</script>